
.Posts:first-child{
    border-top-color: #2D2B33;
    border-top-style: solid;
    border-top-width: 1rem;
    margin-top: 1rem;
}

.fadeIn{
    animation: fadeIn 2s;
}


@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;

    }
}




.Posts{
    /*max-height: 8rem;*/
    padding: 1rem;
    border-top-color: #2D2B33;
    border-top-style: solid;
    border-top-width: 1px;
}

.Posts:hover{
    background-color: #2b2b2b;
    transition: all 2s ease;
    cursor: pointer;
}

.PostText{
    color:white;
}


.metaData{
    color: white;
    padding-bottom: 0.5rem;
    width: 100%;
    display: inline-block;
}

.PostsUser{
    font-weight: bold;
    display: inline;
    
}

.metaData > time{
    font-size: 0.7em;
    float: right;
}

.postActions{
    display: flex;
    padding-bottom: 0.5rem;
    position: relative;
    width: 100%;
    justify-content: space-between;
    font-size: 1em; /*prev 0.7*/
    bottom: -15px;
    color: white;
}

.commentsButton{
    text-align: center;
    vertical-align: middle;
    border-radius: 25px;
    
}

.likeNumb{
    display: inline;
    position: relative;
    top: -0.14em;
}

/*
.commentsButton:hover{
    background-color: lightcoral;
    transition: all 0.8s ease;
}
*/

.dropdownIcon{
    font-size: larger;
    font-weight: bold;
    width: 15px;
    text-align: center;
    border-radius: 25px;
}

/*
.dropdownIcon:hover{
    background-color: lightcoral;
    transition: all 0.8s ease;
}
*/


