.LikedBy{
    clear: both;
    z-index: 10;
    position: absolute;
    display: block;
    top:-3em;
    right: 5em;
    background-color: #18181b;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    border-color: #2b2b2b;
    box-shadow: 0 0 10px #2b2b2b;
    
}

@media screen and (max-width: 40.5em) {  
    .LikedBy{
        right: 1em;
    }
}


