html{
  margin: 0px;
  padding: 0px;
}


body{
  background-color: black;
}

nav{
  background-color: #18181b;
  color: #ececee;
  height: 5vh;
}

.logo{
  position: absolute;
  top: 2vh;
  width: 100%;
  text-align: center;
  font-weight: 600;

}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.submissionArea{
  width:20vw;
  height: 10rem;
  border-top-style: solid;
  border-top-color: black;
  background-color: #18181b;
  
}

.border-left{
  padding-left: 1rem!important;
  border-left-color: #2D2B33;
  border-left-style: solid;
  border-left-width: .1px;
}

.border-right{
  padding-right: 1rem!important;
  border-right-color: #2D2B33;
  border-right-style: solid;
  border-right-width: .1px;
}

.submitPost{
  margin-top: 5rem;
}

input{
  height: 3rem;
  width: 10vw;
  overflow-x: hidden;
  border:none;
}

input:focus{
  border:none;
  
}

textarea:focus,
input:focus,
.form-control:focus,
*:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  
}

hr{
  border-color: #2D2B33;
}